@import 'normalize';
@import 'ext/font-roboto.css';
@import 'ext/bootstrap.min.css';
@import './mixins';

@import './variables';

@import 'components/Main';
@import 'components/Loader';
@import 'components/FXForm';
@import 'components/CurrencyBlock';
@import 'components/CurrencySelector';
@import 'components/FXError';
@import 'components/FXResult';

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  height: 100%
}

body {
  font: 300 16px 'Roboto', helvetica, arial;
  color: #444;
  display: block;

  background: url('../images/header.jpg');

  @media (min-width: 800px) {
    font-size: 18px;
  }
  @media (min-width: 1200px) {
    font-size: 20px;
  }
}
